@{
    ViewBag.Title = "Kontakt";
}

<h1 class="display-4">Kontakt</h1>

<p>Kontak mailowy: <a href="mailto:agentavery@sample.com?subject=Twoja aplikacja jest super!">przemyslaw.salek@tempmail.com</a></p>
<p>Kontak telefoniczny: <a href="tel:123-456-7890">555 444 321</a></p>